{{ header }}
<style>
	#menu {border-radius:4px} #menu.menu1 .main-menu__collapse, #subscribe {display:none !important}
</style>
<div class="container">
	<div class="row">
		<div class="col-12">{{ message }}</div>
	</div>
</div>
{{ footer }}